<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>一个重要的内置关系</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../../vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <school></school>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false //设置为 false 以阻止 vue 在启动时生成生产提示。
        Vue.prototype.x=99
        // //定义一个构造函数
        // function Demo() {
        //     this.a = 1
        //     this.b = 2
        // }
        // //创建一个实例对象
        // const d = new Demo()
        // console.log(Demo.prototype); //显示原型属性
        // console.log(d.__proto__); //隐式原型属性
        // //程序员通过显示原型属性操作原型对象，追加一个x属性，值为99
        // Demo.prototype.x = 99
        // console.log('@',d.x);

        const school = Vue.extend({
            name: 'school',
            template: `
            <div>
            <h2>学校名：{{schoolName}}</h2>
            <h2>学校地址：{{address}}</h2>
            <button @click='showX'>点我</button>
            </div> `,
            data() {
                return {
                    schoolName: 'dadafsg',
                    address: '上海',
                }
            },
            methods: {
                showX(){
                    console.log(this.x);
                }
            },

        })
        //创建一个vm
        new Vue({
            el: '#root',
            data: {
                msg: '111'
            },
            components:{
                school
            }
        })

        
    </script>
</body>

</html>